{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid bump-past-nav">
        <div class="row">
        	<div class="col-md-6 col-md-offset-3 post-content">
        		<h1 class="text-center" id="blog-title">{{ post.title }}</h1>
        		<p class="text-center">Published on {{ post.date }}</p>
        		<h4 class="text-center">Tags:
        			{% for tag in post.tags %}
        				<a class="btn btn-default btn-xs tag-link" href="http://mattcarter.co/blog/tag/{{ tag }}"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</a>
        			{% endfor %}
        		</h4>
        		{{ post.content_html|safe }}
        	</div>
        </div>
    </div>
{% endblock %}