<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Matt Carter's Personal Blog">
        <meta name="keywords" content="Matt Carter, Matthew Carter, Flask, Markdown, blog" />
        <meta name="robots" content="index, follow" />
        <meta name="google-site-verification" content="WnJTqsye2RawsbzNcMjOvoSRsfZzK7hmksAf8HabEgU" />
        <meta name="viewport" content="width=device-width">
        <title>Matt Carter</title>

        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap-social/bootstrap-social.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='extra_modules/academicons-1.8.6/css/academicons.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite.css') }}" />
        <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.ico') }}">
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-3 col-md-2 col-xs-10 col-xs-offset-1 navbar-header">
                        <a class="brand" href="{{ url_for('index') }}" id="name-link">
                            <span id="first-name">matt</span>
                            <span id="last-name">carter</span>
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-md-2 col-xs-3 pull-right collapse navbar-collapse" id="right-nav">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="no-margin">
                                <a class="navbar-link no-margin" href="/">
                                    home
                                </a>
                            </li>
                            <li class="no-margin">
                                <a class="navbar-link no-margin" href="/blog">
                                    blog
                                </a>
                            </li>
                            <li class="no-margin">
                                <a class="navbar-link" target="_blank" href="{{ url_for('static', filename='downloads/MatthewCarterResume.pdf') }}">
                                    cv
                                </a>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="footer">
            <div class="text-center">
                <p class="no-margin" id="copyright">
                </p>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        // This snippet writes a copyright blurb in the footer. It 
        // automatically gets the current year for future-proofing 
        // purposes.
        var date = new Date()
        var theDiv = document.getElementById('copyright');
        theDiv.innerHTML = '<i>Copyright &copy; ' + date.getFullYear() + ', Matt Carter.</i>';
    </script>
    <script>
        // This snippet will auto-scroll the page up 50px every time
        // there is a hash change in the URL. This prevents the navbar
        // from covering content when jumping to a reference ID within 
        // a page. The exception to this auto-scroll is when we jump to 
        // footnote, which is always at the bottom of the page, and so
        // does not have to worry about navbar collisions.
        window.addEventListener("hashchange", function() { 
            if (!(window.location.hash.substr(1).startsWith('fn-'))) {
                scrollBy(0, -50)            
            }
        })
    </script>
</html>